@if(!editMode) {
  <div class="pt-3 pb-1">
    <h1>Investment {{investment.id}}</h1>
    <div class="row pt-1">
      <div *ngFor="let item of investment|keyvalue" class="col-6">
        <div class="row">
          <div class="col-6">
            <label>{{item.key}}</label>
          </div>
          <div class="col-6">
            <p><em>{{item.value}}</em></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <button type="button" class="btn btn-outline-secondary" (click)="goBack()">Back</button>
    <a class="btn btn-outline-primary" (click)="onClickEdit()">Edit</a>
  </div>
  <div class="pt-3">
    <h2>Location</h2>
    <google-map
      [center]="googleMapMarker.position"
    >
      <map-marker
        [position]="googleMapMarker.position"
        [label]="googleMapMarker.label"
        [title]="googleMapMarker.title">
      </map-marker>
    </google-map>
  </div>
}
@else {
  <div class="mt-3">
    <h1>Investment {{investment.id}}</h1>
    <form [formGroup]="investmentForm" (ngSubmit)="onSubmit()">
      <div class="row p-1">
        <div class="col-6">
          <div class="form-group row">
            <label for="codeuai" class="col-4">codeuai</label>
            <div class="col-8">
              <input class="form-control" type="text" formControlName="codeuai" id="codeuai" name="codeuai">
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group row">
            <label for="ville" class="col-4">ville</label>
            <div class="col-8">
              <input class="form-control" type="text" formControlName="ville" id="ville" name="ville">
            </div>
          </div>
        </div>
      </div>
      <div class="row p-1">
        <div class="col-6">
          <div class="form-group row">
            <label for="titreoperation" class="col-4">titreoperation</label>
            <div class="col-8">
              <input class="form-control" type="text" formControlName="titreoperation" id="titreoperation" name="titreoperation">
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group row">
            <label for="etat_d_avancement" class="col-4">etat_d_avancement</label>
            <div class="col-8">
              <input class="form-control" type="text" formControlName="etat_d_avancement" id="etat_d_avancement" name="etat_d_avancement">
            </div>
          </div>
        </div>
      </div>
      <div class="pt-3">
        <button type="button" class="btn btn-outline-secondary" (click)="onClickCancel()">Cancel</button>
        <button type="submit" class="btn btn-outline-primary" >Save</button>
      </div>
    </form>
  </div>
}
